<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkT95OYzNXuLYrUmGkDq6DD8GsMVMpzZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>91631999732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newProject</string>
	<key>PROJECT_ID</key>
	<string>physical-therapy-47a0e</string>
	<key>STORAGE_BUCKET</key>
	<string>physical-therapy-47a0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91631999732:ios:c591f96dcd0636b1dd1ca1</string>
</dict>
</plist>